<template>
  <template v-if="formattedDailyWeatherData && formattedDailyWeatherData.length > 0">
    <div class="container">
      <h3 class="title">Weather {{selectedCity.name}} - {{selectedCity.state}}, {{selectedCity.country}}</h3>
      <div class="block" v-if="selectedWeatherInfo">
        <daily-weather-data-component
          :daily-weather-data="selectedWeatherInfo"
          :isDisplayDetails="true"
        ></daily-weather-data-component>
      </div>
      <div
        v-for="(item, index) in formattedDailyWeatherData"
        :key="index"
        class="block"
      >
        <daily-weather-data-component
          :daily-weather-data="item"
          @displayWeatherDetails="displaySelectedWeatherDetails"
        >
        </daily-weather-data-component>
      </div>
    </div>
  </template>
</template>

<script lang="ts" src="./ResultsView.ts"></script>

<style lang="scss" src="./ResultsView.scss"></style>
