<template>
  <spinner-component
    :isLoading="isLoading"
    :fullPage="true"
  ></spinner-component>
  <router-view/>
</template>

<script lang="ts">
import SpinnerComponent from './components/SpinnerComponent/SpinnerComponent.vue'
import { useStore } from 'vuex'
import { defineComponent, computed } from 'vue'

export default defineComponent({
  name: 'App',
  components: {
    SpinnerComponent
  },
  setup () {
    const store = useStore()
    const isLoading = computed(() => store.getters.requestsCount > 0)
    return {
      isLoading
    }
  }
})
</script>
<style lang="scss" src="./app.scss"></style>
