<template>
  <div class="container">
    <div class="content">
      <div class="title">
        The Forecast <br/>
        Weather App
      </div>
      <div class="form">
        <form @submit.prevent="submitForm">
          <input type="text" v-model="city" required>
          <button type="submit">Search</button>
        </form>
      </div>
      <div class="results">
        <template v-if="citiesList && citiesList.length > 0">
          <div :key="index" v-for="(item, index) in citiesList">
            <a @click.prevent="selectCity(item)">
              {{ item.name }} - {{item.state}}, {{ item.country }}
            </a>
          </div>
        </template>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./SearchView.ts"></script>

<style lang="scss" src="./SearchView.scss"></style>
