.container {
  width: 100%;
  min-height: 100%;
  background-color: #134601;
  position: absolute;
}
.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  .title {
    padding: 10px;
    font-size: 30px;
  }

  .form{
    input {
      width: 300px;
      height: 30px;
      border-radius: 7px;
      margin: 10px;
      font-size: 20px;
    }

    button {
      margin: 10px;
      height: 30px;
      border-radius: 7px;
      font-size: 20px;
    }

  }

  .results {
    padding: 10px;
    font-size: 20px;

    div {
      padding: 4px;
    }

    a {
      color: green;
      text-decoration: green !important;
      cursor: pointer;
    }
  }

}
