<template>
  <div class="vld-parent">
    <loading v-model:active="isLoading"
             loader="dots"
             color="#00ff9d"
             :opacity="0.4"
             :height="100"
             :width="100"
             :is-full-page="fullPage"/>
  </div>
</template>

<style lang="scss" src="./SpinnerComponent.scss"></style>

<script lang="ts" src="./SpinnerComponent.ts"></script>
