<template>
  <template v-if="isDisplayDetails">
    <div class="weather-info detailed-info">
      <div class="day">{{ dayText }}</div>
      <div class="temp">Temp {{ dailyWeatherData.dayTemp }} °C</div>
      <div class="detail"> Night temp {{dailyWeatherData.nightTemp}} °C</div>
      <div class="detail">Humidity {{dailyWeatherData.humidity}} %</div>
      <div class="detail">Pressure {{dailyWeatherData.pressure}} Pa</div>
      <div class="detail">Wind Speed {{dailyWeatherData.pressure}} Km/h</div>
    </div>
  </template>
  <template v-else>
    <div class="brief-info weather-info" @click.prevent="displayWeatherDetails">
      <div class="day">{{ dayText }}</div>
      <div class="temp">{{ dailyWeatherData.dayTemp }} °C</div>
    </div>
  </template>
</template>

<script lang="ts" src="./DailyWeatherDataComponent.ts"></script>

<style lang="scss" src="./DailyWeatherDataComponent.scss"></style>
