.brief-info {
  cursor: pointer;
  float: right;
}
.detailed-info {
  background-color: #d79b51 !important;
  float: left;
  position: fixed;
}

.weather-info {
  background-color: green;
  color: white;
  padding: 15px;
  margin: 20px;
  display: block;
  min-width: 300px;

  .day {
    font-size: 14px;
    text-align: center;
  }

  .temp {
    text-align: right;
    margin-top: 5px;
    font-size: 16px;
  }

  .detail {
    font-size: 14px;
    padding: 5px;
  }
}
